#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.hero .content {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 30vh;
}

.hero .content h1 {
  font-size: 4rem;
  color: whitesmoke;
  text-shadow: 2px 0px 0px black;
}
.hero p {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: whitesmoke;
}
.bottone {
  background: rgba(0, 25, 25, 0.4) !important;
}
.bottone:hover {
  background: rgba(0, 25, 25, 0.9) !important;
}
@media screen and (max-width: 640px) {
  .content h1 {
    font-size: 3rem;
  }
  .content p {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}
